/* 3. Variables ------------------------------------------*/

$background-black : #333333;
$yellow: #f37236;
$bg-grey: #f7f7f7;
$black-title: #333;
$grey-regular: #f2f2f2;
$boder-color : #e6e6e6;
$orange-regular: #f37236;
$organge-bold: #f37236;